@model BizSapam.ViewModels.UserShopingInfoList

@{
    ViewBag.Title = "Dashbord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

    <style>
        #chartdiv {
            width: 100%;
            height: 1000px;
        }
    </style>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-- Chart code -->
    <script>
        am4core.ready(function () {

            // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            var chart = am4core.create("chartdiv", am4charts.PieChart3D);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.legend = new am4charts.Legend();

             chart.data = [
            @foreach(var User in Model.UsersInfo)
            {
                <text>
                {
                     بازاریاب: "@User.Name",
                     ریال: @User.TotalPurchase
                },
                </text>
            }

            ];


            var series = chart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "ریال";
            series.dataFields.category = "بازاریاب";

        }); // end am4core.ready()
    </script>

</head>
<body>
    <h3 style="font-family:IRANSans; text-align:center; direction:rtl;">30 بازاریاب برتر BIZSAPAM</h3>
    <div id="chartdiv" style="font-family:IRANSans;"></div>
   

</body>

<script type="text/javascript">
    $(document).ready(function () {

        demo.initChartist();

        $.notify({
            icon: 'pe-7s-gift',
            message: "Welcome to BIZSAPAM ControlPanel "

        }, {
                type: 'info',
                timer: 2000
            });

    });


</script>